<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <i class="fa fa-arrow-left" aria-hidden="true" style="color: #337ab7"></i>
        <%= link_to "Back", towers_path %>
        <h1>Edit Tower</h1>
        <%= form_for @tower do |f| %>
          <div class="form-group">
            <%= f.label :name, "Name"%>
            <br>
            <%= f.text_field :name, placeholder: "Name Tower", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :watchman, "Watchman" %>
            <br>
            <%= f.text_field :watchman, placeholder: "Name Watchman", class: "form-control"%>
          </div>

          <div class="form-group">
            <%= f.submit class:"btn btn-primary"%>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
