<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Article</title>
</head>
<body>
	<h1>New Article</h1>
	<%= form_for @post do |f|%>
		<div>
			<%= f.label :title, "Titulo" %>
			<br>
			<%= f.text_field :title, placeholder: "Title Post" %>
		</div>

		<div>
			<%= f.label :content, "Contenido" %>
			<br>
			<%= f.text_area :content, placeholder: "Content Post" %>
		</div>
		<div>
			<%= f.submit %>
		</div>
	<% end %>
</body>
</html>