<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= link_to "Posts", posts_path %>
    <h2>Article</h2>
    <%= @post.title %>
    <br>
    <%= @post.content %>
    <br><br>
    <%= link_to "Create comment", new_post_comment_path(@post) %>
    <ul>
      <h2>Comments</h2>
      <% @comments.each do |comment|%>
        <li>
          <%= comment.content %>
        </li>
        <%= link_to "Edit Comment", edit_post_comment_path(@post,comment) %>
        <br>
        <%= link_to "Delete Comment", post_comment_path(@post,comment), method: :delete,  data:{ confirm: "Estas seguro?"} %>
        <br>
      <% end %>
    </ul>
  </body>
</html>
